body {
	font-family: 'Rubik', sans-serif;
}

#circle-img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-top: 10px;
}

.slanted {
	background: #191a1d;
	box-sizing: border-box;
	padding: 6em;
	transform: skewY(4deg) translateY(-60px);
	height: 500px;
}

.slanted > * {
	transform: skewY(-4deg);
	max-width: 55em;
	margin: auto;
	text-align: center;
}

.slanted > p {
	background: inherit;
	font-size: 32pt;
}

.article-header {
	text-transform: uppercase;
	letter-spacing: .063em;
	border-bottom: 4px solid grey;
	font-size: 24pt;
	color: grey;
}

.inside-div {
	height: 540px;
	width: 600px;
	object-fit: cover;
}

.services {
	background-image: url("/images/divbackground.png");
}

.footer {
	background-color: black;
}

.zoom {
	transition: transform .2s; /* Animation */
	margin: 0 auto;
}

.zoom:hover {
	transform: scale(1.1); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.lead {
	color: #ababab;
}

#repl {
	width: 20px;
	height: 20px;
}

a {
	color: white;
}

.skill-icon {
	padding: 10px;
	font-size: 8em;
}

.project-details {
	color: gray;
}
